.ui.vertical.segment {
  padding: 4em 0;
}

.ui.vertical.segment p {
  font-size: 1.2em;
}

.ui.masthead.segment {
  padding: 8em 0;
}

.header .ui.header {
  text-align: center;
}

.header h1.ui.header {
  font-size: 4em;
}

.masthead h2 {
  font-size: 1.7em;
}
strong {
  font-size: 1.2em;
}

.ui.segment > strong {
  font-size: 1.33em;
}

.cards .card {
  padding: 8em;
}
